streamlit==1.52.2
pandas==2.3.3
numpy==1.24.3
yfinance==1.1.0
ccxt==4.5.37
scikit-learn==1.7.2
openpyxl==3.1.5
matplotlib==3.10.8
seaborn==0.13.2
tqdm==4.67.3
blinker==1.9.0
protobuf==4.25.8
tensorflow==2.13.0
